Data factory/incremental_data_pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_sqldb":{"type":"string"},"LS_datalake":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/incremental_data_pipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy_Incremental_data","type":"Copy","dependsOn":[{"activity":"last_load","dependencyConditions":["Succeeded"]},{"activity":"current_load","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"SELECT * FROM cars_source_data WHERE Date_ID > '@{activity('last_load').output.value[0].last_load}' AND Date_ID <= '@{activity('current_load').output.value[0].max_date}'","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"AzureSqlTable1","type":"DatasetReference","parameters":{"table_name":"cars_source_data"}}],"outputs":[{"referenceName":"DS_raw","type":"DatasetReference","parameters":{}}]},{"name":"last_load","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"select * from watermark_table","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"AzureSqlTable1","type":"DatasetReference","parameters":{"table_name":"watermark_table"}},"firstRowOnly":false}},{"name":"current_load","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"select max(Date_ID) as max_date from cars_source_data","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"AzureSqlTable1","type":"DatasetReference","parameters":{"table_name":"cars_source_data"}},"firstRowOnly":false}},{"name":"WatermarkUpdate","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Copy_Incremental_data","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[UpdateWatermarkTable]","storedProcedureParameters":{"lastload":{"value":{"value":"@activity('current_load').output.value[0].max_date","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_sqldb')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2025-03-31T06:56:15Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]","[concat(variables('factoryId'), '/datasets/DS_raw')]"]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_sqldb')]","type":"LinkedServiceReference"},"parameters":{"table_name":{"type":"string"}},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"Branch_ID","type":"varchar"},{"name":"Dealer_ID","type":"varchar"},{"name":"Model_ID","type":"varchar"},{"name":"Revenue","type":"bigint","precision":19},{"name":"Units_Sold","type":"bigint","precision":19},{"name":"Date_ID","type":"varchar"},{"name":"Day","type":"int","precision":10},{"name":"Month","type":"int","precision":10},{"name":"Year","type":"int","precision":10},{"name":"BranchName","type":"varchar"},{"name":"DealerName","type":"varchar"}],"typeProperties":{"schema":"dbo","table":{"value":"@dataset().table_name","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_raw')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_datalake')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"rawdata","fileSystem":"raw"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}